h2{
    text-align: center;
    color: forestgreen;

}

#logo {
    width: 5%;
    padding-right: 2px;
}

/* Navigation Bar */
#nav {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;

}

#nav a {
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid silver;
}

#nav a:hover {
    background-color: silver;
}

#nav a:active {
    color:lightblue;
}

#nav a:visited {
    color: forestgreen;
}


.container {
   padding: 10px; 
   margin-top: 20px;
   border-style: solid;
   border-width: 4px;
   border-color: slategrey;
}

#First-name {
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#Last-name {
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#Email {
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#Comments {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    resize: vertical ;
    display: inline-block;
    box-sizing: border-box;
}

#submit {
    margin-top: 10px
}

#reset {
    margin-top: 10px;
}

#notice {
    display: none;
    color: red;
}


#Kendrick-Lamar {
    display: block;
    padding-top: 30px;
    width: 500px;
    height: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#footer {
    margin-top: 100px;
    border-top-style: solid;
    border-top-color: slategrey;
    border-top-width: 2px;
    bottom: 0;
}
/* Sitemap */
#site-map {
    text-align: center;
}

#site-map a {
    text-decoration: none;
    font-size: 14px;
}

#site-map a:hover {
    background-color: silver;
}

#site-map a:active {
    color:lightblue;
}

#site-map a:visited {
    color: forestgreen;
}
