h2{
    text-align: center;
    color: forestgreen;
}

#logo {
    width: 5%;
    padding-right: 2px;
}
/* Navigation Bar */
#nav {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

#nav a {
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid silver;
}

#nav a:hover {
    background-color: silver;
}

#nav a:active {
    color:lightblue;
}

#nav a:visited {
    color: forestgreen;
}

* {box-sizing: border-box;}

.slideshow-container {

    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 20px;
}

.slides { 
    display: none;
}

.street-art{
    height: 400px;
    width: 1000px;
}

#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:forestgreen;
    font-size: 20px;
    border-radius: 0 4px 4px 0;
    user-select: none;
}

#next {
    right: 0;  
    border-radius: 4px 0 0 4px;
}

#prev:hover, #next:hover {
    background-color:#717171;
}

.caption {
    color: forestgreen;
    font-size: 18px;
    padding: 8px 12px; 
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.counter {
     color: forestgreen;
     font-size: 16px;
     padding: 24px 12px;
     position: absolute;
     top: 0;
}

.map {
    padding-top: 40px;
    text-align: center;    
}


#footer{
    margin-top: 100px;
    border-top-style: solid;
    border-top-color: slategrey;
    border-top-width: 2px;
    bottom: 0;
}
/*Site Map*/
#site-map {
    text-align: center;
}

#site-map a {
    text-decoration: none;
}

#site-map a:active {
    color:lightblue;
}

#site-map a:visited {
    color: forestgreen;
}
